
/* COLOR PALETTE ------------------------------------------------*/
:root {
    --midnight-blue: #0E131F;
    --slate-gray: #38405F;
    --purple-heart: #59546C;
    --silver-chalice: #8B939C;
    --ruby-red: #FF0035;
  }
  
  /* Example usage */
  .element {
    background-color: var(--midnight-blue);
  }
  
  .another-element {
    color: var(--ruby-red);
  }

/* nav bar CSS below */

@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P";
  font-size: 1rem;
  line-height: 2;
  height: 100%;
  background-color: #221;
  text-transform: uppercase;
}

.topnav a {
  text-decoration: none;
  color: #fff090;
}

.topnav li {
  color: #4faf44;
}

.arrow i {
  display: none;
}

.arrow {
  position: relative;
  display: block;
  color: #f6eb14;
}

.arrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.arrow:hover i {
  display: block;
  position: absolute;
  top: 0.5em;
  left: -6em;
}

